import pandas as pd
import os
import multiprocessing as mp
from multiprocessing import Pool, cpu_count
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Text, Float, exc
from sqlalchemy.dialects.postgresql import VARCHAR
from sqlalchemy.exc import IntegrityError
import logging
import time
import re
import requests
import xml.etree.ElementTree as ET
from rdkit import Chem
from rdkit.Chem import AllChem, DataStructs
import boto3
import pyarrow.parquet as pq
import pyarrow as pa
import faiss
import numpy as np
import asyncio
import aiofiles
import aioboto3
import gc
from concurrent.futures import ThreadPoolExecutor
from io import BytesIO
